USE [master]
GO
/****** Object:  Database [QLMuaBanHangDienTu]    Script Date: 17-Jan-18 14:24:08 ******/
CREATE DATABASE [QLMuaBanHangDienTu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLMuaBanHangDienTu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLMuaBanHangDienTu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLMuaBanHangDienTu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLMuaBanHangDienTu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLMuaBanHangDienTu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLMuaBanHangDienTu]
GO
USE [QLMuaBanHangDienTu]
GO
/****** Object:  Table [dbo].[ChiTietDonDatHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDatHang](
	[MaDonDatHang] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietDonDatHang] PRIMARY KEY CLUSTERED 
(
	[MaDonDatHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDonBanHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonBanHang](
	[MaSanPham] [varchar](10) NOT NULL,
	[MaHoaDonBanHang] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDonBanHang] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[MaHoaDonBanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietPhieuGiaoHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuGiaoHang](
	[MaPhieuGiao] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietPhieuGiaoHang] PRIMARY KEY CLUSTERED 
(
	[MaPhieuGiao] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietPhieuGiaoHangKhachHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuGiaoHangKhachHang](
	[MaGiaoHang] [varchar](10) NOT NULL,
	[MaSanPham] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_PhieuGiaoHangKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaGiaoHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMucSanhPham]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanhPham](
	[MaDanhMuc] [varchar](10) NOT NULL,
	[TenDanhMuc] [varchar](50) NULL,
	[Mota] [varchar](100) NULL,
 CONSTRAINT [PK_DanhMucSanhPham] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDonDatHang] [varchar](10) NOT NULL,
	[NgayLap] [date] NULL,
	[MaTrangTrangThai] [int] NULL,
 CONSTRAINT [PK_DonDatHang] PRIMARY KEY CLUSTERED 
(
	[MaDonDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoHangKhachHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoHangKhachHang](
	[MaGiaoHang] [varchar](10) NOT NULL,
	[NgayGiao] [date] NULL,
	[MaTrangThai] [int] NULL,
	[MaHoaDonBanHang] [varchar](10) NULL,
 CONSTRAINT [PK_GiaoHangKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaGiaoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[MaHangSanXuat] [varchar](10) NOT NULL,
	[TenhangSanXuat] [nvarchar](50) NULL,
 CONSTRAINT [PK_HangSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaHangSanXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDonBanHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBanHang](
	[MaHoaDonBanHang] [varchar](10) NOT NULL,
	[NgayLap] [date] NULL,
	[TongTien] [int] NULL,
	[TrangThai] [int] NULL,
	[MaKhachHang] [varchar](10) NULL,
	[MaNhanVien] [varchar](10) NULL,
 CONSTRAINT [PK_HoaDonBanHang] PRIMARY KEY CLUSTERED 
(
	[MaHoaDonBanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDonThanhToan]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonThanhToan](
	[MaHoaDonThanhToan] [varchar](10) NOT NULL,
	[TongTien] [int] NULL,
	[MaDonHang] [varchar](10) NULL,
	[MaHDThanhToanCuaNhaCC] [varchar](10) NULL,
 CONSTRAINT [PK_HoaDonThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaHoaDonThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[SoDienThoai] [int] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Diem] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanVien](
	[MaLoaiNhanVien] [varchar](10) NOT NULL,
	[TenLoaiNhanVien] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSanPham] [varchar](10) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NULL,
	[MaDanhMuc] [varchar](10) NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [varchar](10) NOT NULL,
	[TenNhaCungCap] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCapSanPham]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCapSanPham](
	[MaSanPham] [varchar](10) NOT NULL,
	[MaNhaCungCap] [varchar](10) NOT NULL,
 CONSTRAINT [PK_NhaCungCapSanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [varchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [int] NULL,
	[MaLoai] [varchar](10) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuGiaoHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGiaoHang](
	[MaPhieuGiaoHang] [varchar](10) NOT NULL,
	[NgayGiao] [date] NULL,
	[MaDonDatHang] [varchar](10) NULL,
	[MaPhieuGiaoHangNhaCC] [varchar](10) NULL,
 CONSTRAINT [PK_PhieuGiaoHang] PRIMARY KEY CLUSTERED 
(
	[MaPhieuGiaoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](10) NOT NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[GiaMua] [int] NULL,
	[GiaBan] [int] NULL,
	[XuatXu] [nvarchar](50) NULL,
	[ThoiGianBaoHanh] [int] NULL,
	[HangSanXuat] [varchar](10) NULL,
	[MaLoaiSanPham] [varchar](10) NULL,
	[SoLuongTon] [int] NULL,
	[MaNhaCungCap] [varchar](10) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPhamDienThoai]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamDienThoai](
	[MaSanPham] [varchar](10) NOT NULL,
	[ChieuDai] [int] NULL,
	[ChieuRong] [int] NULL,
	[ChieuCao] [int] NULL,
	[TrongLuong] [int] NULL,
	[He Dieu Hanh] [varchar](50) NULL,
 CONSTRAINT [PK_SanPhamDienThoai] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrangThaiDonDatHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiDonDatHang](
	[MaTrangThaiDonDatHang] [int] NOT NULL,
	[TenTrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TrangThaiDonDatHang] PRIMARY KEY CLUSTERED 
(
	[MaTrangThaiDonDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrangThaiGiaoHangKhachHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiGiaoHangKhachHang](
	[MaTrangThaiGiaoHangKH] [int] NOT NULL,
	[TenTrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TrangThaiGiaoHangKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaTrangThaiGiaoHangKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrangThaiHoaDonBanHang]    Script Date: 17-Jan-18 14:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiHoaDonBanHang](
	[MaTrangThaiHoaDonBanHang] [int] NOT NULL,
	[TenTrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TrangThaiHoaDonBanHang] PRIMARY KEY CLUSTERED 
(
	[MaTrangThaiHoaDonBanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChiTietDonDatHang] ([MaDonDatHang], [MaSanPham], [SoLuong]) VALUES (N'DDH00001', N'SP00011', 100)
INSERT [dbo].[ChiTietDonDatHang] ([MaDonDatHang], [MaSanPham], [SoLuong]) VALUES (N'DDH00001', N'SP00013', 100)
INSERT [dbo].[ChiTietDonDatHang] ([MaDonDatHang], [MaSanPham], [SoLuong]) VALUES (N'DDH00003', N'SP00028', 1000)
INSERT [dbo].[ChiTietHoaDonBanHang] ([MaSanPham], [MaHoaDonBanHang], [SoLuong]) VALUES (N'SP00053', N'HD00036
', 1)
INSERT [dbo].[ChiTietHoaDonBanHang] ([MaSanPham], [MaHoaDonBanHang], [SoLuong]) VALUES (N'SP00077', N'HD00046
', 1)
INSERT [dbo].[ChiTietHoaDonBanHang] ([MaSanPham], [MaHoaDonBanHang], [SoLuong]) VALUES (N'SP00079', N'HD00046
', 3)
INSERT [dbo].[ChiTietPhieuGiaoHang] ([MaPhieuGiao], [MaSanPham], [SoLuong]) VALUES (N'PG00001', N'SP00011', 50)
INSERT [dbo].[ChiTietPhieuGiaoHang] ([MaPhieuGiao], [MaSanPham], [SoLuong]) VALUES (N'PG00001', N'SP00013', 50)
INSERT [dbo].[ChiTietPhieuGiaoHang] ([MaPhieuGiao], [MaSanPham], [SoLuong]) VALUES (N'PG00002', N'SP00011', 50)
INSERT [dbo].[ChiTietPhieuGiaoHangKhachHang] ([MaGiaoHang], [MaSanPham], [SoLuong]) VALUES (N'GH00001', N'SP00053', 1)
INSERT [dbo].[ChiTietPhieuGiaoHangKhachHang] ([MaGiaoHang], [MaSanPham], [SoLuong]) VALUES (N'GH00001', N'SP00085', 3)
INSERT [dbo].[ChiTietPhieuGiaoHangKhachHang] ([MaGiaoHang], [MaSanPham], [SoLuong]) VALUES (N'GH00002', N'SP00079', 3)
INSERT [dbo].[DanhMucSanhPham] ([MaDanhMuc], [TenDanhMuc], [Mota]) VALUES (N'DM00001', N'Tay nghe', N'Chua có')
INSERT [dbo].[DanhMucSanhPham] ([MaDanhMuc], [TenDanhMuc], [Mota]) VALUES (N'DM00002', N'Op lung', N'Chua có')
INSERT [dbo].[DanhMucSanhPham] ([MaDanhMuc], [TenDanhMuc], [Mota]) VALUES (N'DM00003', N'Loa', N'Chua có')
INSERT [dbo].[DonDatHang] ([MaDonDatHang], [NgayLap], [MaTrangTrangThai]) VALUES (N'DDH00001', CAST(N'2017-12-24' AS Date), 3)
INSERT [dbo].[DonDatHang] ([MaDonDatHang], [NgayLap], [MaTrangTrangThai]) VALUES (N'DDH00002', CAST(N'2017-12-31' AS Date), 0)
INSERT [dbo].[DonDatHang] ([MaDonDatHang], [NgayLap], [MaTrangTrangThai]) VALUES (N'DDH00003', CAST(N'2017-12-31' AS Date), 0)
INSERT [dbo].[GiaoHangKhachHang] ([MaGiaoHang], [NgayGiao], [MaTrangThai], [MaHoaDonBanHang]) VALUES (N'GH00001', CAST(N'2017-12-31' AS Date), 1, N'HD00036
')
INSERT [dbo].[GiaoHangKhachHang] ([MaGiaoHang], [NgayGiao], [MaTrangThai], [MaHoaDonBanHang]) VALUES (N'GH00002', CAST(N'2017-12-31' AS Date), 1, N'HD00046
')
INSERT [dbo].[GiaoHangKhachHang] ([MaGiaoHang], [NgayGiao], [MaTrangThai], [MaHoaDonBanHang]) VALUES (N'GH00003', CAST(N'2017-05-01' AS Date), 0, N'HD00046
')
INSERT [dbo].[HangSanXuat] ([MaHangSanXuat], [TenhangSanXuat]) VALUES (N'HSX00020', N'Microsoft')
INSERT [dbo].[HangSanXuat] ([MaHangSanXuat], [TenhangSanXuat]) VALUES (N'HSX00023', N'Sony')
INSERT [dbo].[HangSanXuat] ([MaHangSanXuat], [TenhangSanXuat]) VALUES (N'HSX00028', N'VinaPhone')
INSERT [dbo].[HoaDonBanHang] ([MaHoaDonBanHang], [NgayLap], [TongTien], [TrangThai], [MaKhachHang], [MaNhanVien]) VALUES (N'HD00036
', CAST(N'2017-12-25' AS Date), 7800000, 1, N'KH00065', N'NV00003')
INSERT [dbo].[HoaDonBanHang] ([MaHoaDonBanHang], [NgayLap], [TongTien], [TrangThai], [MaKhachHang], [MaNhanVien]) VALUES (N'HD00046
', CAST(N'2017-12-25' AS Date), 5900000, 1, N'KH00080', N'NV00005')
INSERT [dbo].[HoaDonThanhToan] ([MaHoaDonThanhToan], [TongTien], [MaDonHang], [MaHDThanhToanCuaNhaCC]) VALUES (N'HDTH00001', 180000000, N'DDH00001', N'HD00001')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [DiaChi], [Diem]) VALUES (N'KH00010', N'Đỗ Công Thành', 954753191, N'450,  Nguyễn thị minh khai, Phường An Lạc A, Quận 6', 840)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [DiaChi], [Diem]) VALUES (N'KH00014', N'Trương Tuấn Kiệt', 956205006, N'858, Kinh dương vương, Phường An Lạc , Quận 6', 720)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [DiaChi], [Diem]) VALUES (N'KH00016', N'Lâm Thiên Kiệt', 967969825, N'54,  Hồng bảng, Phường Bình hưng hòa, Quận Bình tân', 420)
INSERT [dbo].[LoaiNhanVien] ([MaLoaiNhanVien], [TenLoaiNhanVien]) VALUES (N'LNV00001', N'Nhân viên thủ kho')
INSERT [dbo].[LoaiNhanVien] ([MaLoaiNhanVien], [TenLoaiNhanVien]) VALUES (N'LNV00002', N'Nhân viên kinh doanh')
INSERT [dbo].[LoaiNhanVien] ([MaLoaiNhanVien], [TenLoaiNhanVien]) VALUES (N'LNV00003', N'Nhân viên bán hàng')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [MaDanhMuc]) VALUES (N'LSP00022', N'Sản Phẩm D', N'DM00005')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [MaDanhMuc]) VALUES (N'LSP00024', N'Sản Phẩm F', N'DM00006')
INSERT [dbo].[LoaiSanPham] ([MaLoaiSanPham], [TenLoaiSanPham], [MaDanhMuc]) VALUES (N'LSP00030', N'Sản Phẩm E', N'DM00004')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap]) VALUES (N'NCC00023', N'Akkiphone')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap]) VALUES (N'NCC00033', N'Thế giới di động')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap]) VALUES (N'NCC00034', N'Long hưng')
INSERT [dbo].[NhaCungCapSanPham] ([MaSanPham], [MaNhaCungCap]) VALUES (N'SP00024', N'NCC00023')
INSERT [dbo].[NhaCungCapSanPham] ([MaSanPham], [MaNhaCungCap]) VALUES (N'SP00024', N'NCC00033')
INSERT [dbo].[NhaCungCapSanPham] ([MaSanPham], [MaNhaCungCap]) VALUES (N'SP00024', N'NCC00034')
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [NgaySinh], [SoDienThoai], [MaLoai]) VALUES (N'NV00001', N'Nguyễn Công Hưng', CAST(N'1992-05-12' AS Date), 955773477, N'LNV00003')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [NgaySinh], [SoDienThoai], [MaLoai]) VALUES (N'NV00002', N'Đỗ Thiên Thiện', CAST(N'1992-01-05' AS Date), 958985552, N'LNV00002')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [NgaySinh], [SoDienThoai], [MaLoai]) VALUES (N'NV00003', N'Trương Công Hưng', CAST(N'1990-08-29' AS Date), 963199525, N'LNV00003')
INSERT [dbo].[PhieuGiaoHang] ([MaPhieuGiaoHang], [NgayGiao], [MaDonDatHang], [MaPhieuGiaoHangNhaCC]) VALUES (N'PG00001', CAST(N'2017-12-25' AS Date), N'DDH00001', N'PGH00001')
INSERT [dbo].[PhieuGiaoHang] ([MaPhieuGiaoHang], [NgayGiao], [MaDonDatHang], [MaPhieuGiaoHangNhaCC]) VALUES (N'PG00002', CAST(N'2017-12-26' AS Date), N'DDH00001', N'PGH00003')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [GiaMua], [GiaBan], [XuatXu], [ThoiGianBaoHanh], [HangSanXuat], [MaLoaiSanPham], [SoLuongTon], [MaNhaCungCap]) VALUES (N'SP00011', N'Sản Phẩm CI', 300000, 3500000, N'Nhật bản', 7, N'HSX00020', N'LSP00022', 24, N'NCC00023')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [GiaMua], [GiaBan], [XuatXu], [ThoiGianBaoHanh], [HangSanXuat], [MaLoaiSanPham], [SoLuongTon], [MaNhaCungCap]) VALUES (N'SP00013', N'Sản Phẩm GH', 1500000, 2300000, N'Nhật bản', 11, N'HSX00020', N'LSP00022', 25, N'NCC00023')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [GiaMua], [GiaBan], [XuatXu], [ThoiGianBaoHanh], [HangSanXuat], [MaLoaiSanPham], [SoLuongTon], [MaNhaCungCap]) VALUES (N'SP00014', N'Sản Phẩm EL', 500000, 3800000, N'Hàn quốc', 8, N'HSX00032', N'LSP00060', 100, N'NCC00023')
INSERT [dbo].[SanPhamDienThoai] ([MaSanPham], [ChieuDai], [ChieuRong], [ChieuCao], [TrongLuong], [He Dieu Hanh]) VALUES (N'SP00022', 11, 3, 11, 215, N'Android 7')
INSERT [dbo].[SanPhamDienThoai] ([MaSanPham], [ChieuDai], [ChieuRong], [ChieuCao], [TrongLuong], [He Dieu Hanh]) VALUES (N'SP00028', 9, 4, 12, 237, N'Android 7')
INSERT [dbo].[SanPhamDienThoai] ([MaSanPham], [ChieuDai], [ChieuRong], [ChieuCao], [TrongLuong], [He Dieu Hanh]) VALUES (N'SP00043', 10, 3, 10, 204, N'Android 7')
INSERT [dbo].[TrangThaiDonDatHang] ([MaTrangThaiDonDatHang], [TenTrangThai]) VALUES (0, N'Chưa xác nhận')
INSERT [dbo].[TrangThaiDonDatHang] ([MaTrangThaiDonDatHang], [TenTrangThai]) VALUES (1, N'Đã xác nhận')
INSERT [dbo].[TrangThaiDonDatHang] ([MaTrangThaiDonDatHang], [TenTrangThai]) VALUES (2, N'Chưa nhận hàng đủ')
INSERT [dbo].[TrangThaiGiaoHangKhachHang] ([MaTrangThaiGiaoHangKH], [TenTrangThai]) VALUES (0, N'Chưa giao')
INSERT [dbo].[TrangThaiGiaoHangKhachHang] ([MaTrangThaiGiaoHangKH], [TenTrangThai]) VALUES (1, N'Đã giao')
INSERT [dbo].[TrangThaiHoaDonBanHang] ([MaTrangThaiHoaDonBanHang], [TenTrangThai]) VALUES (0, N'Chưa thanh toán')
INSERT [dbo].[TrangThaiHoaDonBanHang] ([MaTrangThaiHoaDonBanHang], [TenTrangThai]) VALUES (1, N'Đã thanh toán')
INSERT [dbo].[TrangThaiHoaDonBanHang] ([MaTrangThaiHoaDonBanHang], [TenTrangThai]) VALUES (2, N'Chưa giao hàng')
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDatHang_DonDatHang] FOREIGN KEY([MaDonDatHang])
REFERENCES [dbo].[DonDatHang] ([MaDonDatHang])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang] CHECK CONSTRAINT [FK_ChiTietDonDatHang_DonDatHang]
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDatHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang] CHECK CONSTRAINT [FK_ChiTietDonDatHang_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonBanHang_HoaDonBanHang] FOREIGN KEY([MaHoaDonBanHang])
REFERENCES [dbo].[HoaDonBanHang] ([MaHoaDonBanHang])
GO
ALTER TABLE [dbo].[ChiTietHoaDonBanHang] CHECK CONSTRAINT [FK_ChiTietHoaDonBanHang_HoaDonBanHang]
GO
ALTER TABLE [dbo].[ChiTietHoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonBanHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDonBanHang] CHECK CONSTRAINT [FK_ChiTietHoaDonBanHang_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuGiaoHang_PhieuGiaoHang] FOREIGN KEY([MaPhieuGiao])
REFERENCES [dbo].[PhieuGiaoHang] ([MaPhieuGiaoHang])
GO
ALTER TABLE [dbo].[ChiTietPhieuGiaoHang] CHECK CONSTRAINT [FK_ChiTietPhieuGiaoHang_PhieuGiaoHang]
GO
ALTER TABLE [dbo].[ChiTietPhieuGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuGiaoHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuGiaoHang] CHECK CONSTRAINT [FK_ChiTietPhieuGiaoHang_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuGiaoHangKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuGiaoHangKhachHang_GiaoHangKhachHang] FOREIGN KEY([MaGiaoHang])
REFERENCES [dbo].[GiaoHangKhachHang] ([MaGiaoHang])
GO
ALTER TABLE [dbo].[ChiTietPhieuGiaoHangKhachHang] CHECK CONSTRAINT [FK_PhieuGiaoHangKhachHang_GiaoHangKhachHang]
GO
ALTER TABLE [dbo].[ChiTietPhieuGiaoHangKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuGiaoHangKhachHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuGiaoHangKhachHang] CHECK CONSTRAINT [FK_PhieuGiaoHangKhachHang_SanPham]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_TrangThaiDonDatHang] FOREIGN KEY([MaTrangTrangThai])
REFERENCES [dbo].[TrangThaiDonDatHang] ([MaTrangThaiDonDatHang])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_TrangThaiDonDatHang]
GO
ALTER TABLE [dbo].[GiaoHangKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_GiaoHangKhachHang_HoaDonBanHang] FOREIGN KEY([MaHoaDonBanHang])
REFERENCES [dbo].[HoaDonBanHang] ([MaHoaDonBanHang])
GO
ALTER TABLE [dbo].[GiaoHangKhachHang] CHECK CONSTRAINT [FK_GiaoHangKhachHang_HoaDonBanHang]
GO
ALTER TABLE [dbo].[GiaoHangKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_GiaoHangKhachHang_TrangThaiGiaoHangKhachHang] FOREIGN KEY([MaTrangThai])
REFERENCES [dbo].[TrangThaiGiaoHangKhachHang] ([MaTrangThaiGiaoHangKH])
GO
ALTER TABLE [dbo].[GiaoHangKhachHang] CHECK CONSTRAINT [FK_GiaoHangKhachHang_TrangThaiGiaoHangKhachHang]
GO
ALTER TABLE [dbo].[HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDonBanHang] CHECK CONSTRAINT [FK_HoaDonBanHang_KhachHang]
GO
ALTER TABLE [dbo].[HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanHang_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDonBanHang] CHECK CONSTRAINT [FK_HoaDonBanHang_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanHang_TrangThaiHoaDonBanHang] FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TrangThaiHoaDonBanHang] ([MaTrangThaiHoaDonBanHang])
GO
ALTER TABLE [dbo].[HoaDonBanHang] CHECK CONSTRAINT [FK_HoaDonBanHang_TrangThaiHoaDonBanHang]
GO
ALTER TABLE [dbo].[HoaDonThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonThanhToan_DonDatHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonDatHang] ([MaDonDatHang])
GO
ALTER TABLE [dbo].[HoaDonThanhToan] CHECK CONSTRAINT [FK_HoaDonThanhToan_DonDatHang]
GO
ALTER TABLE [dbo].[LoaiSanPham]  WITH CHECK ADD  CONSTRAINT [FK_LoaiSanPham_DanhMucSanhPham] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucSanhPham] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[LoaiSanPham] CHECK CONSTRAINT [FK_LoaiSanPham_DanhMucSanhPham]
GO
ALTER TABLE [dbo].[NhaCungCapSanPham]  WITH CHECK ADD  CONSTRAINT [FK_NhaCungCapSanPham_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[NhaCungCapSanPham] CHECK CONSTRAINT [FK_NhaCungCapSanPham_NhaCungCap]
GO
ALTER TABLE [dbo].[NhaCungCapSanPham]  WITH CHECK ADD  CONSTRAINT [FK_NhaCungCapSanPham_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[NhaCungCapSanPham] CHECK CONSTRAINT [FK_NhaCungCapSanPham_SanPham]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LoaiNhanVien] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiNhanVien] ([MaLoaiNhanVien])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LoaiNhanVien]
GO
ALTER TABLE [dbo].[PhieuGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuGiaoHang_DonDatHang] FOREIGN KEY([MaDonDatHang])
REFERENCES [dbo].[DonDatHang] ([MaDonDatHang])
GO
ALTER TABLE [dbo].[PhieuGiaoHang] CHECK CONSTRAINT [FK_PhieuGiaoHang_DonDatHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_HangSanXuat] FOREIGN KEY([HangSanXuat])
REFERENCES [dbo].[HangSanXuat] ([MaHangSanXuat])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_HangSanXuat]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([MaLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([MaLoaiSanPham])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
ALTER TABLE [dbo].[SanPhamDienThoai]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamDienThoai_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[SanPhamDienThoai] CHECK CONSTRAINT [FK_SanPhamDienThoai_SanPham]
GO
USE [master]
GO
